# Common
TZ=Europe/Moscow

# Domains
BOOK_DOMAIN=book.everestmed.ru
CRM_DOMAIN=crm.everestmed.ru

# Landing -> n8n
N8N_WEBHOOK_URL=
YANDEX_METRIKA_ID=

# CRM API for n8n workflows
SALESMAN_API_URL=http://crm:80/api/v2
SALESMAN_API_KEY=

# MySQL
MYSQL_DATABASE=salesman
MYSQL_USER=salesman_user
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
